.header--divider-line {
  height: 30px;
}

#Mission {
    display: flex;
    gap: 20px;
}

.mission--image {
    width: 50%;
}

#Vision {
  display: flex; 
  gap: 20px;
}
.vision--mobile {
  display: none;
}

.vision--desktop {
  display: flex;
  gap: 20px;
 
}

.vision--card {
  height: 100%;
  margin: 0;
}

.vision--image {
  width: 50%;
}

.Objetivos-Section--General {
  margin: 0 10%;
}

.Objetivos-General--Info {
  max-width: 1130px;
}

.Objetivos-Section--Especificos {
  margin: 0 10%;
}

.Objetivos-Section--Especificos--list {
  grid-template-columns: repeat(4, 1fr);
}

#Resena-Historica {
  margin: 40px;
  max-width: 1400px;
}

#Fundation {
  position: absolute;
  max-width: 1400px;
  margin: 40px;
}

.Fundation--mobile {
  display: none;
}

.Fundation--Desktop {
  display: block;
}

.Fundation--Info-div {
  margin-left: 15px;
}

#Terapia-de-Lenguaje {
  margin: 20px 10%;
  display: flex;
  justify-content: space-between;
  text-align: right;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.Terapia-de-Lenguaje--Image {
  max-width: 500px;
  justify-content: center;
}

.Terapia-de-Lenguaje--Divider {
  display: block;
  opacity: 0;
}

.Terapia-de-Lenguaje--Info-p {
  max-width: 500px;
  margin-left: 20px;
}


.mas-alla-mobile {
  display: none;
  opacity: 0;
}

#Mas-Alla {
  margin: 20px 10%;
}

.mas-alla-desktop {
  display: flex;
  opacity: 1;
  justify-content: space-between;
  text-align: left;
}
.Mas-Alla-Image {
  max-width: 500px;
}

.Mas-Alla--Info-p {
  max-width: 500px;
}